* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
html, body{
    height: 100%;
} 

.wrapper {
    position: relative;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: #C0DBD9;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}
.dialog {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.overlay:target {
    visibility: visible;
    opacity: 99;
}
.close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.close-button {
    position: absolute;
    width: 43px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7FAFF6;
    border-radius: 5px;
}
.close-button span {
    color: #FFFFFF;
}

.dialog span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 62px;
}
.dialog-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 1170px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
    background: #7FAFF7;
    display: flex;
    align-items: center;
}

.button {
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 39px;
    background: #A5C7F9;
    border-radius: 5px;
    margin-left: 30px;
}
.button span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.block1 {
    width: 1170px;
    height: 411px;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: #B3F95A;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    counter-reset: e;
}
.block1 .frame-1::before {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 62px;
    color: #FFFFFF;
    counter-increment: e;
    content: counter(e);
}
.block1 .frame-1 {
    width: 390px;
    height: 198px;
    background-color: #8AD191;
}
.block1 .frame-2::before {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 62px;
    color: #FFFFFF;
    counter-increment: e;
    content: counter(e);
}
.block1 .frame-2 {
    width: 590px;
    height: 198px;
    background-color: #8AD191;
}
.block1 .frame-3::before, .frame-5::before {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 62px;
    color: #FFFFFF;
    counter-increment: e;
    content: counter(e);
}
.block1 .frame-3, .block1 .frame-5 {
    width: 160px;
    height: 198px;
    background-color: #8AD191;
}
.block1 .frame-4::before {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 62px;
    color: #FFFFFF;
    counter-increment: e;
    content: counter(e);
}
.block1 .frame-4 {
    width: 995px;
    height: 198px;
    background-color: #8AD191;
}

.wrapper2 {
    max-width: 1170px;
    margin: 0 auto;
    background: #C0DBD9;
}
.block2 {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 259px;
    background-color: #88B5BF;
}
.frame-6 {
    width: 21.8%;
    height: 76.9%;
    background-color: #0D89B0;
}
@media (max-width: 768px) {
    .frame-6 {
        height: 50%;
    }
}

.footer {
    position:absolute;
    width: 1170px;
    height: 100px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    background: #7FAFF7;
}

